body {
    background-color: rgb(93, 93, 122);
}

.omos {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.tekst {
color:white;
text-align: center;
padding-top: 20px;
left: 20px;
}